.home-photo {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image:url(/curate_collection/photos/title.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fcdb09;
    align-items: center;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.home-photo h1 {
    font-weight: bolder;
    position: fixed;
    top: 250px;
    font-size: 80px;
    text-shadow: -1px -1px  #000;
    -webkit-text-stroke:1.2px black;
}


.button {
    display: flex;
    align-items: center;
    position: fixed;
    font-size: 35px;
    text-align: center;
    justify-content: center;
    top: 700px;
    left: 50%;
    transform: translate(-50%);
    color:#000000;
    font-weight: bold;
    -webkit-text-stroke-color:#000;
    outline-color: #000;
    padding: 10px 75px;
    border: 2.5px solid #000;
    border-radius: 24px;
    background-color: #f8e674;

    text-decoration: none;
}

.button:hover {
    background-color:#fcdb05;
    box-shadow: 0 0 25px #f7e04b;
}

  .right-arrow span {
    display: inline-block;
    position: fixed;
    text-align: center;
    justify-content: center;
    top: 703.5px;
    left: 45.9%;
    transform: translate(-50%);
    font-size: 40px;
    font-weight: 600;
}

